.account-container {
  width: 100%;
  max-width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.personal-info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0 20px;
  font-size: 0.95rem;
}

.personal-info-table th,
.personal-info-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.personal-info-table th {
  background-color: #f0f0f0;
}

.personal-info-table td {
  background-color: #f9f9f9;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}

h2 {
  font-size: x-large;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin: 5px 0;
}

.appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.95rem;
}

.appointments-table th,
.appointments-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.appointments-table th {
  background-color: #f0f0f0;
}

.appointments-table td {
  background-color: #f9f9f9;
}

form {
  margin-top: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

button:hover {
  opacity: 0.9;
}

form[action="/account"] button {
  background-color: red;
}

form[action="/logout"] button {
  background-color: rgb(0, 153, 0);
}


@media screen and (max-width: 810px) {
  .account-container {
    padding: 15px;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
  }

  button {
    padding: 8px 15px;
    font-size: 0.95rem;
  }

  p {
    font-size: 0.95rem;
  }

  .appointments-table th,
  .appointments-table td {
    padding: 6px;
    font-size: 0.9rem;
  }
}