.admin-container {
  width: 100%;
  max-width: 90%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}

h2 {
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 10px;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

th,
td {
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #f0f0f0;
}

td {
  background-color: #f9f9f9;
}

form.deleteForm button {
  padding: 4px 8px;
  font-size: 0.8rem;
  white-space: nowrap;
  width: 4rem;
  height: 1.7rem;
  box-sizing: border-box;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form.deleteForm button:hover {
  opacity: 0.9;
}

form[action="/admin/logout"] button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  background-color: rgb(0, 153, 0);
}

form[action="/admin/logout"] button:hover {
  opacity: 0.9;
}

form {
  text-align: center;
  margin-top: 10px;
}


@media screen and (max-width: 810px) {
  .admin-container {
    padding: 15px;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
  }

  th,
  td {
    padding: 6px 8px;
    font-size: 0.85rem;
  }

  form.deleteForm button {
    font-size: 0.75rem;
    padding: 3px 5px;
  }

  form[action="/admin/logout"] button {
    padding: 6px 12px;
    font-size: 0.85rem;
  }
}