.booking-section {
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking {
  margin: 0;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-form h1 {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: xx-large;
}

.booking-form label {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.booking-form input,
.booking-form select {
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.booking-form button {
  padding: 10px 20px;
  background-color: rgb(0, 153, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.booking-form button:hover {
  background-color: rgb(0, 140, 0);
}


@media screen and (max-width: 810px) {
  .booking-container {
    gap: 15px;
  }

  .booking-form {
    padding: 15px;
    border-radius: 8px;
    width: 100%;
  }

  .booking-form h1 {
    font-size: x-large;
  }

  .booking-form label,
  .booking-form input,
  .booking-form select,
  .booking-form button {
    font-size: 0.95rem;
    padding: 8px 12px;
  }
}