.login-section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 100%;
  text-align: center;
}

.login-title h1 {
  font-size: xx-large;
  margin-bottom: 20px;
  display: block;
}

.error-message {
  margin: 10px 0;
}

.tab-buttons {
  margin-bottom: 20px;
}

.tab-button {
  background-color: rgb(0, 153, 255);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  padding: 10px 0;
  margin: 5px;
  display: inline-block;
  font-size: large;
}

.tab-button:hover {
  background-color: rgb(0, 138, 230);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.form-group {
  margin: 15px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: rgb(0, 153, 0);
  color: rgb(255, 255, 255);
  width: 100px;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: large;
}

button:hover {
  background-color: rgb(0, 128, 0);
  transition: 0.3s;
}


@media screen and (max-width: 810px) {
  .login-section {
    padding: 15px;
  }

  .login-title h1 {
    font-size: x-large;
  }

  .tab-button,
  button {
    width: 90px;
    font-size: medium;
    padding: 8px 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 0.95rem;
    padding: 8px;
  }
}